@import "components/scrollbar/scrollbar";

body {
    background-color: #fcfcfc;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url("/imgs/seigaiha.png");
}

main {
    flex: 1 0 auto;
}

.no-marg-bot {
    margin-bottom: 0;
}

.marg-top-bot {
    margin-top: 20px;
    margin-bottom: 15px;
}

#homepage {
    .divider {
        margin-top: 20px;
        margin-bottom: 15px;
    }
}

#info {
    padding-top: 2em;

    .row {

        .card-title {
            font-weight: 400;
        }
    }
}

#info-lobby {
    padding-top: 4em;

    .create-room {
        margin-top: 1em;
    }
}

#play {
    padding-top: 4em;
    .card-panel {
        background-color: transparent;
        box-shadow: none;
    }

    #player-list {
        ul.collection {
            font-weight: 500;
        }

        li.collection-item.avatar {
            padding-right: 0.5em;
            min-height: 60px;
            border: none;
            &:first-of-type {
                border-radius: 10px 10px 0 0;
            }
            &:last-of-type {
                border-radius: 0 0 10px 10px;
            }
            i.circle.text {
                font-style: normal;
                font-weight: 500;
                font-size: 2rem;
            }
            p.lvl {
                position: absolute;
                bottom: 10px;
                right: 15px;
            }
        }
    }

    .collection {
        padding: 1em;
        border-radius: 20px;
        min-height: 500px;
        width: 100%;
    }

    #game-canvas-wrapper {
        padding: 10px;
    }

    #game-canvas {
        border-radius: 10px;
        min-height: 500px;
    }

    #chat {
        .row {
            margin-bottom: 0;
        }
        .chat-body {
            border-radius: 10px;
            #chat-top {
                border-radius: 10px 10px 0 0;
                padding: 1em;
            }
            #chat-content {
                min-height: 300px;
            }
            #chat-send {
                border-radius: 0 0 10px 10px;
            }
        }
    }
}

#super-header {
    font-weight: 600;
    -webkit-text-stroke: 1px #00796b;
    text-shadow:
        3px 3px 0 #00796b,
        -1px -1px 0 #00796b,  
        1px -1px 0 #00796b,
        -1px 1px 0 #00796b,
        1px 1px 0 #00796b;
}

.login-div {
    a {
        width: 100px;
        padding: 0;
        margin-left: 1.5em;
        margin-right: 1.5em;
    }
}

// Login and register modals
#login.modal, #register.modal, #create.modal {
    .row {
        margin-bottom: 0;
    }

    .modal-submit {
        margin-top: 3em;
        margin-bottom: 0;
    }

    form {
        padding: 0;
        .row .input-field .prefix {
            margin-top: 0.25em;
        }
        .fa {
            text-align: center;
            padding-right: 10px;
        }
    }
}

#login.modal {
    form {
        .password-reset {
            float: right;
        }
        
        #login-password {
            margin-bottom: 10px;
        }
    }
}

#login.modal, #register.modal {
    width: 320px;
}

#create.modal {
    width: 320px;
}

#register::-webkit-scrollbar-track {
    background-color: #fafafa;
}

#register::-webkit-scrollbar {
    width: 10px;
    background-color: #fafafa;
}

#register::-webkit-scrollbar-thumb {
    background-color: #7986cb;
}

nav {
    ul {
        .hamburger {
            margin-top: -2px;
            overflow: hidden;
            .hamburger-box {
                height: 10px; // Centers the hamburger
            }
        }
        .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
            background-color: #fcfcfc;
        }

        .btn-flat.dd-nav-buttons {
            height: 100%;
            margin-left: 0;
            margin-right: 0;
            width: 60px;
            text-align: center;
            padding: 0;
            transition: background .3s ease-out;

            i {
                line-height: 54px;
            }

            .fa-nav {
                color: #fcfcfc;
                font-size: 2.5rem;
            }
        }
    }
}
footer.page-footer {
    margin-top: -20px;
    padding-top: 20px;
}

a.brand-logo {
    margin-left: 5px;
}

.nav-logo {
    height: 120px;
    width: 120px;
}

#nav-dropdown {
    margin-top: 56px;
    width: 160px !important;
    li a span {
        display: block;
        margin-left: 24px;
        padding-left: 1em;
    }
    .fa {
        position: absolute;
        text-align: center;
        width: 24px;
        height: 24px;
        font-size: 1.5em;
    }
}

// Lobby stuff

#room-table {
    th {
        text-align: center;
    }
    td {
        text-align: center;
    }
    td:first-of-type {
        text-align: left;
        padding: 0 1em;
    }
}

@media only screen and (min-height: 600px) {
    .login-div {
        a {
            margin-left: 2em;
            margin-right: 2em;
        }
    }
}

@media only screen and (min-width : 601px) {
    a.brand-logo.left {
        left: 0;
        margin-left: 15px;
    }

    #nav-dropdown {
        margin-top: 64px;
    }

    nav ul .btn-flat.dd-nav-buttons {
        width: 80px;

        i {
            line-height: 64px;
        }
    }

    #login.modal, #register.modal, #create.modal {
        width: 420px;
    }
}

@media only screen and (min-width : 993px) {
    #play-wrapper-1 {
        width: 100%;
    }

    #play-wrapper-2 {
        width: 100%;
    }
}

@media only screen and (min-width : 1200px) {
    #play-wrapper-1 {
        width: 75%;
    }

    #play-wrapper-2 {
        width: 25%;
    }
}

@media only screen and (min-width: 1600px) {

}

@media only screen and (min-height : 1080px) {
    #info .row.center.login-div {
        margin-top: 5em;
        margin-bottom: 5em;
    }

    #info .row {
        margin-top: 2em;
        margin-bottom: 2em;
    }
}