@import "components/scrollbar/scrollbar";

body {
    background-color: #fcfcfc;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url("/imgs/seigaiha.png");
    position: relative;
}

main {
    flex: 1 0 auto;
}

.no-marg-bot {
    margin-bottom: 0;
}

.marg-top-bot {
    margin-top: 20px;
    margin-bottom: 15px;
}

#homepage {
    .divider {
        margin-top: 20px;
        margin-bottom: 15px;
    }
}

#info {
    padding-top: 2em;

    .row {

        .card-title {
            font-weight: 400;
        }
    }
}

#info-lobby {
    padding-top: 4em;

    .create-room {
        margin-top: 1em;
    }
}

#message {
    position:absolute;
    left: 0;
    right: 0;
    top: 64px;
    text-align: center;
    .card.horizontal {
        display: inline-block;
        .card-content {
            padding: 1em;
        }
        i {
            margin-left: 1em;
        }
    }
}

#word {
    margin: 4em 0 2em 0;
    text-align: center;
    .word-header {
        font-size: 1.5rem;
        font-weight: 700;
        display: inline-block;
        background-color: #4db6ac;
        color: #f5f5f5;
        border-radius: 20px;
        margin: 0 1em;
        padding: 20px;
    }
}

#play {
    .card-panel {
        background-color: transparent;
        box-shadow: none;
    }

    .collection {
        border: none;
        min-height: 500px;
        width: 100%;
    }

    #player-list {
        ul.collection {
            margin: 0;
            font-weight: 500;
            max-height: 64px;
            min-height: 64px;
            overflow-y: auto;
        }
        ul.collection::-webkit-scrollbar {
            width: 5px;
        }
        ul.collection::-webkit-scrollbar-track {
            background-color: #90caf9;
        }

        li.collection-item.avatar {
            padding-right: 0.5em;
            min-height: 60px;
            border: none;
            &:first-of-type {
                border-radius: 5px 5px 0 0;
            }
            &:last-of-type {
                border-radius: 0 0 5px 5px;
            }
            i.circle.text {
                font-style: normal;
                font-weight: 500;
                font-size: 2rem;
            }
            p.lvl {
                position: absolute;
                bottom: 10px;
                right: 15px;
            }
        }
    }

    #game, #chat, #player-list {
        padding: 10px;
        background-color: #90caf9;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    #player-list {
        padding: 10px 5px 10px 10px;
    }

    #player-wrapper {
        padding: 1em;
    }

    #game {
        min-height: 50vh;
    }

    .canvas-container {
        margin: auto;
    }

    #chat {
        .row {
            margin-bottom: 0;
        }
        .chat-body {
            border-radius: 0 0 5px 5px;
            position: relative;
            #chat-top {
                border-radius: 0 0 5px 5px;
                margin-top: 60px;
                padding: 1em;
            }
            #chat-content {
                min-height: 300px;
            }
            #chat-send {
                border-radius: 5px 5px 0 0;
                width: 100%;
                height: 60px;
                position: absolute;
                top: -60px;
                button {
                    display: inline-block;
                    position: absolute;
                    right: 0;
                    top: 0;
                    height: 40px;
                    width: 90px;
                    padding: 0;
                }
                .is-typing {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    background-color: #00bfa5;
                    padding-left: 8px;
                    color: white;
                }
            }
        }
        .chat-input {
            margin-bottom: 0;
            border: none;
            padding-left: 8px;
            padding-right: 90px;
            box-sizing: border-box;
            height: 40px;
            &:focus {
                box-shadow: 0 0 5px 2px rgba(81, 203, 238, 0.4);
            }
        }
        .chat-list {
            overflow-y: auto;
            margin: 0;
            padding: 10px;
            min-height: 300px;
            max-height: 45vh;
            &::-webkit-scrollbar-track {
                background-color: #BBDEFB;
            }
            li {
                margin: 1.2em 0;
            }
            .system, .send, .receive {
                font-size: 1.2rem;
                width: 100%;
                position: relative;
                .content {
                    text-align: left;
                    word-wrap: break-word;
                    max-width: 100%;
                    padding: 5px 10px;
                    border-radius: 20px;
                    display: inline-block;
                }
            }
            .system {
                text-align: center;
                > .content {
                    text-align: center;
                    color: #eceff1;
                    background-color: #7c4dff;
                }
            }
            .send {
                text-align: right;
                img, i {
                    display: block;
                    width: 50px;
                    height: 50px;
                    font-size: 1.5rem;
                    font-style: normal;
                    font-weight: 500;
                    color: #fafafa;
                    text-align: center;
                    line-height: 2.38em;
                    margin-left: 10px;
                    position: absolute;
                    right: 0;
                    bottom: -8px;
                }
                > .content {
                    margin-right: 55px;
                    margin-left: 35px;
                    border-bottom-right-radius: 0;
                    color: #fafafa;
                    background-color: #448aff;
                }
            }
            .receive {
                text-align: left;
                img, i {
                    display: block;
                    width: 50px;
                    height: 50px;
                    font-size: 1.5rem;
                    font-style: normal;
                    font-weight: 500;
                    color: #fafafa;
                    text-align: center;
                    line-height: 2.38em;
                    margin-right: 10px;
                    position: absolute;
                    left: 0;
                    bottom: -8px;
                }
                > .content {
                    margin-left: 55px;
                    margin-right: 35px;
                    background-color: #eeeeee;
                    color: #424242;
                    border-bottom-left-radius: 0;
                }
            }
        }
    }
}

#super-header {
    font-weight: 600;
    -webkit-text-stroke: 1px #00796b;
    text-shadow:
        3px 3px 0 #00796b,
        -1px -1px 0 #00796b,  
        1px -1px 0 #00796b,
        -1px 1px 0 #00796b,
        1px 1px 0 #00796b;
}

.login-div {
    a {
        width: 100px;
        padding: 0;
        margin-left: 1.5em;
        margin-right: 1.5em;
    }
}

// Login and register modals
#login.modal, #register.modal, #create.modal {
    .row {
        margin-bottom: 0;
    }

    .modal-submit {
        margin-top: 3em;
        margin-bottom: 0;
    }

    form {
        padding: 0;
        .row .input-field .prefix {
            margin-top: 0.25em;
        }
        .fa {
            text-align: center;
            padding-right: 10px;
        }
    }
}

#login.modal {
    form {
        .password-reset {
            float: right;
        }
        
        #login-password {
            margin-bottom: 10px;
        }
    }
}

#login.modal, #register.modal {
    width: 320px;
}

#create.modal {
    width: 320px;
}

#register::-webkit-scrollbar-track {
    background-color: #fafafa;
}

#register::-webkit-scrollbar {
    width: 10px;
    background-color: #fafafa;
}

#register::-webkit-scrollbar-thumb {
    background-color: #7986cb;
}

nav {
    ul {
        .hamburger {
            margin-top: -2px;
            overflow: hidden;
            .hamburger-box {
                height: 10px; // Centers the hamburger
            }
        }
        .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
            background-color: #fcfcfc;
        }

        .btn-flat.dd-nav-buttons {
            height: 100%;
            margin-left: 0;
            margin-right: 0;
            width: 60px;
            text-align: center;
            padding: 0;
            transition: background .3s ease-out;

            i {
                line-height: 54px;
            }

            .fa-nav {
                color: #fcfcfc;
                font-size: 2.5rem;
            }
        }
    }
}
footer.page-footer {
    margin-top: -20px;
    padding-top: 20px;
}

a.brand-logo {
    margin-left: 5px;
}

.nav-logo {
    height: 120px;
    width: 120px;
}

#nav-dropdown {
    margin-top: 56px;
    width: 160px !important;
    li a span {
        display: block;
        margin-left: 24px;
        padding-left: 1em;
    }
    .fa {
        position: absolute;
        text-align: center;
        width: 24px;
        height: 24px;
        font-size: 1.5em;
    }
}

// Lobby stuff

#room-table {
    th {
        text-align: center;
    }
    td {
        text-align: center;
    }
    td:first-of-type {
        text-align: left;
        padding: 0 1em;
    }
}


// BUTTON MAIN PAGE ONLY --- HEIGHT OF SCREEN
@media only screen and (min-height: 600px) {
    .login-div {
        a {
            margin-left: 2em;
            margin-right: 2em;
        }
    }
}

@media only screen and (min-width : 601px) {
    a.brand-logo.left {
        left: 0;
        margin-left: 15px;
    }

    #nav-dropdown {
        margin-top: 64px;
    }

    nav ul .btn-flat.dd-nav-buttons {
        width: 80px;

        i {
            line-height: 64px;
        }
    }

    #login.modal, #register.modal, #create.modal {
        width: 420px;
    }

    #play #game {
        min-height: 50vh;
    }

    #play #player-list {
        padding: 10px;
        ul.collection {
            max-height: none;
        }
    }

    #word .word-header {
        font-size: 2rem;
    }
}

@media only screen and (min-width : 993px) {
    #play-wrapper-1 {
        width: 100%;
    }
    #word {
        margin: 2em 0;
    }

    #play-wrapper-2 {
        width: 100%;
    }
    #player-list {
        width: 24%;
        margin-right: 1%;
    }
}

@media only screen and (min-width : 1200px) {
    #play-wrapper-1 {
        width: 75%;
    }

    #play-wrapper-2 {
        width: 25%;
    }
    #play #chat .chat-body {
        border-radius: 5px;
        #chat-send {
            position: relative;
            border-radius: 0 0 5px 5px;
            top: 0;
            .is-typing {
                position: relative;
            }
            button {
                top: initial;
                bottom: 0;
            }
        }
        #chat-top {
            margin-top: 0;
            border-radius: 5px 5px 0 0;
        }
    }
    #play #chat .chat-list {
        min-height: 385px;
        max-height: 40vh;
    }
}

@media only screen and (min-width: 1367px) {
    #word {
        margin: 2em 0;
        .word-header {
            font-size: 2.5rem;
        }
    }
}

@media only screen and (min-height : 1080px) {
    #info .row.center.login-div {
        margin-top: 5em;
        margin-bottom: 5em;
    }

    #info .row {
        margin-top: 2em;
        margin-bottom: 2em;
    }
}