body {
    background-color: #fcfcfc;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url("/imgs/seigaiha.png");
}

main {
    flex: 1 0 auto;
}

#info {
    padding-top: 2em;

    .row.center {
        margin-top: 2em;
        margin-bottom: 2em;
    }
}

#super-header {
    font-weight: 600;
    -webkit-text-stroke: 1px #00796b;
    text-shadow:
        3px 3px 0 #00796b,
        -1px -1px 0 #00796b,  
        1px -1px 0 #00796b,
        -1px 1px 0 #00796b,
        1px 1px 0 #00796b;
}

.login-div {
    a {
        width: 100px;
        padding: 0;
        margin-left: 1em;
        margin-right: 1em;
    }
}

nav {
    ul {
        .hamburger {
            margin-top: -2px;
            overflow: hidden;
            .hamburger-box {
                height: 10px; // Centers the hamburger
            }
        }
        .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
            background-color: #fcfcfc;
        }

        .btn-flat.dd-nav-buttons {
            height: 100%;
            margin-left: 0;
            margin-right: 0;
            width: 60px;
            text-align: center;
            padding: 0;
            transition: background .3s ease-out;

            i {
                line-height: 54px;
            }

            .fa-nav {
                color: #fcfcfc;
                font-size: 2.5rem;
            }
        }
    }
}
footer.page-footer {
    margin-top: -20px;
    padding-top: 20px;
}

a.brand-logo {
    margin-left: 5px;
}

.nav-logo {
    height: 120px;
    width: 120px;
}

#nav-dropdown {
    margin-top: 56px;
    width: 160px !important;
    li a span {
        display: block;
        margin-left: 24px;
        padding-left: 1em;
    }
    .fa {
        position: absolute;
        text-align: center;
        width: 24px;
        height: 24px;
        font-size: 1.5em;
    }
}

@media only screen and (min-height: 600px) {
    #info .row.center.login-div {
        margin-top: 5em;
    }
}

@media only screen and (min-width : 601px) {
    a.brand-logo.left {
        left: 0;
        margin-left: 15px;
    }

    #nav-dropdown {
        margin-top: 64px;
    }

    nav ul .btn-flat.dd-nav-buttons {
        width: 80px;

        i {
            line-height: 64px;
        }
    }
}

@media only screen and (min-width : 993px) {

}