extends template/layout

block content
  nav.navbar.navbar-inverse.navbar-fixed-top
    .container-fluid
      .navbar-header
        .navbar-brand Hello!
      ul.nav.navbar-nav
        li.active
          a(href='#') HOME
        li
          a(href='#') Hello