nav.blue(role='navigation')
  .nav-wrapper
    a.brand-logo.left.nav-logo(href='#')
      img.nav-logo(src='/imgs/sticky-note.png')
    ul#nav-mobile.right
      li
        a.waves-effect.btn-flat.dd-nav-buttons
          i.fa.fa-home.fa-nav
      li
        a.waves-effect.btn-flat.dd-nav-buttons
          i.fa.fa-user.fa-nav
      li
        button.btn-flat.dd-nav-buttons.hamburger.hamburger--spin.waves-effect(type='button')
          span.hamburger-box
            span.hamburger-inner