::-webkit-scrollbar-track {
  background-color: #F5F5F5; }

::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5; }

::-webkit-scrollbar-thumb {
  background-color: #90a4ae; }

body {
  background-color: #fcfcfc;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url("/imgs/seigaiha.png"); }

main {
  flex: 1 0 auto; }

#info {
  padding-top: 2em; }
  #info .row .card-title {
    font-weight: 400; }

#super-header {
  font-weight: 600;
  -webkit-text-stroke: 1px #00796b;
  text-shadow: 3px 3px 0 #00796b, -1px -1px 0 #00796b,   1px -1px 0 #00796b, -1px 1px 0 #00796b, 1px 1px 0 #00796b; }

.login-div a {
  width: 100px;
  padding: 0;
  margin-left: 1.5em;
  margin-right: 1.5em; }

#modal-login.modal .modal-submit, #modal-register.modal .modal-submit {
  margin-top: 3em;
  margin-bottom: 0; }

#modal-login.modal form, #modal-register.modal form {
  padding: 0; }
  #modal-login.modal form .row .input-field .prefix, #modal-register.modal form .row .input-field .prefix {
    margin-top: 0.25em; }
  #modal-login.modal form .fa, #modal-register.modal form .fa {
    text-align: center;
    padding-right: 10px; }

#modal-login.modal {
  width: 320px; }
  #modal-login.modal form .password-reset {
    float: right; }
  #modal-login.modal form #login-password {
    margin-bottom: 10px; }

#modal-register.modal {
  width: 320px; }

#modal-register::-webkit-scrollbar-track {
  background-color: #fafafa; }

#modal-register::-webkit-scrollbar {
  width: 10px;
  background-color: #fafafa; }

#modal-register::-webkit-scrollbar-thumb {
  background-color: #7986cb; }

nav ul .hamburger {
  margin-top: -2px;
  overflow: hidden; }
  nav ul .hamburger .hamburger-box {
    height: 10px; }

nav ul .hamburger-inner, nav ul .hamburger-inner::before, nav ul .hamburger-inner::after {
  background-color: #fcfcfc; }

nav ul .btn-flat.dd-nav-buttons {
  height: 100%;
  margin-left: 0;
  margin-right: 0;
  width: 60px;
  text-align: center;
  padding: 0;
  transition: background .3s ease-out; }
  nav ul .btn-flat.dd-nav-buttons i {
    line-height: 54px; }
  nav ul .btn-flat.dd-nav-buttons .fa-nav {
    color: #fcfcfc;
    font-size: 2.5rem; }

footer.page-footer {
  margin-top: -20px;
  padding-top: 20px; }

a.brand-logo {
  margin-left: 5px; }

.nav-logo {
  height: 120px;
  width: 120px; }

#nav-dropdown {
  margin-top: 56px;
  width: 160px !important; }
  #nav-dropdown li a span {
    display: block;
    margin-left: 24px;
    padding-left: 1em; }
  #nav-dropdown .fa {
    position: absolute;
    text-align: center;
    width: 24px;
    height: 24px;
    font-size: 1.5em; }

@media only screen and (min-height: 600px) {
  .login-div a {
    margin-left: 2em;
    margin-right: 2em; } }

@media only screen and (min-width: 601px) {
  a.brand-logo.left {
    left: 0;
    margin-left: 15px; }
  #nav-dropdown {
    margin-top: 64px; }
  nav ul .btn-flat.dd-nav-buttons {
    width: 80px; }
    nav ul .btn-flat.dd-nav-buttons i {
      line-height: 64px; } }

@media only screen and (min-height: 1080px) {
  #info .row.center.login-div {
    margin-top: 5em;
    margin-bottom: 5em; }
  #info .row {
    margin-top: 2em;
    margin-bottom: 2em; } }
